## Vacation Destinations

In [1]:
# Dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Import cities DF from CSV file 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2021-07-16 03:19:20,-37.6167,-73.6500,49.98,78,83,3.06
1,1,Geraldton,AU,2021-07-16 03:19:20,-28.7667,114.6000,63.12,77,75,8.05
2,2,Cape Town,ZA,2021-07-16 03:19:20,-33.9258,18.4232,49.12,81,0,5.75
3,3,Bredasdorp,ZA,2021-07-16 03:19:21,-34.5322,20.0403,38.52,93,0,1.14
4,4,Taltal,CL,2021-07-16 03:19:21,-25.4000,-70.4833,56.05,79,13,1.83

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure Gmaps to use personal API key
gmaps.configure(api_key=g_key)

## Heat Maps

### Maximum Temperature Heatmap

In [5]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = city_data_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Humidity

In [6]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get humidity of locations 
humidity = city_data_df["Humidity"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Cloudiness

In [7]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get clouds of locations 
cloudiness = city_data_df["Cloudiness"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Wind Speed

In [8]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get wind speed of locations 
wind = city_data_df["Wind Speed"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

## Vacation Criteria 

### Preferred locations based on Max Temperature

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Create DF of cities that fall between the customer's desired temperatures
preferred_cities_df  = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Mayo,US,2021-07-16 03:19:21,38.8876,-76.5119,84.36,86,40,4.61
6,6,Puerto Escondido,MX,2021-07-16 03:19:22,15.8500,-97.0667,79.93,81,100,3.31
7,7,Tottori,JP,2021-07-16 03:16:32,35.5000,134.2333,84.20,78,75,6.91
8,8,Gat,IL,2021-07-16 03:19:22,31.6100,34.7642,79.39,86,0,2.53
15,15,Cabo San Lucas,MX,2021-07-16 03:16:05,22.8909,-109.9124,88.90,53,1,7.00
...,...,...,...,...,...,...,...,...,...,...
564,564,Aktau,KZ,2021-07-16 03:22:35,43.6500,51.2000,75.78,32,0,5.66
565,565,Eyl,SO,2021-07-16 03:22:35,7.9803,49.8164,79.79,60,100,27.07
567,567,Morehead,US,2021-07-16 03:22:36,37.2711,-87.1764,76.86,90,1,0.00
568,568,Akdepe,TM,2021-07-16 03:22:36,42.0551,59.3788,78.80,22,3,11.70
569,569,Kilindoni,TZ,2021-07-16 03:22:37,-7.9139,39.6668,76.51,72,14,22.37

In [12]:
preferred_cities_df.count()

City_ID       226
City          226
Country       226
Date          226
Lat           226
Lng           226
Max Temp      226
Humidity      226
Cloudiness    226
Wind Speed    226
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

### Hotels at Preferred Cities

In [14]:
# Create Hotel DF to add in hotels to preferred cities DF
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
5               Mayo      US     84.36  38.8876  -76.5119
6   Puerto Escondido      MX     79.93  15.8500  -97.0667
7            Tottori      JP     84.20  35.5000  134.2333
8                Gat      IL     79.39  31.6100   34.7642
15    Cabo San Lucas      MX     88.90  22.8909 -109.9124
16            Avarua      CK     78.85 -21.2078 -159.7750
17             Vaini      TO     75.36 -21.2000 -175.2000
20            Padang      ID     83.41  -0.9492  100.3543
24           Estevan      CA     75.54  49.1334 -102.9842
25        Georgetown      MY     89.53   5.4112  100.3354

In [16]:
# Set parameters to search for hotels in each location
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Mayo,US,84.36,38.8876,-76.5119,Resorts Resource Group International
6,Puerto Escondido,MX,79.93,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
7,Tottori,JP,84.20,35.5000,134.2333,Hotel Monarque Tottori
8,Gat,IL,79.39,31.6100,34.7642,OlusHome
15,Cabo San Lucas,MX,88.90,22.8909,-109.9124,Hotel Tesoro Los Cabos
...,...,...,...,...,...,...
564,Aktau,KZ,75.78,43.6500,51.2000,Silk Way Hotel
565,Eyl,SO,79.79,7.9803,49.8164,Amiin Hotel
567,Morehead,US,76.86,37.2711,-87.1764,CCI Express Inn
568,Akdepe,TM,78.80,42.0551,59.3788,Мой дом
569,Kilindoni,TZ,76.51,-7.9139,39.6668,Bustani B&B

## Heatmap of Max Temperature using Hotels DF

In [19]:
# Add info box to marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Get locations 
locations = hotel_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = hotel_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Create a location marker layer 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Combine layers to figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))