## Deliverable 2. Create a Customer Travel Destinations Map

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,2021-07-24 18:34:03,-0.7393,-90.3518,82.36,81,15,8.99,few clouds
1,1,Kaeo,NZ,2021-07-24 18:34:05,-35.1000,173.7833,55.33,87,97,10.92,overcast clouds
2,2,Kapaa,US,2021-07-24 18:31:00,22.0752,-159.3190,80.58,84,90,4.00,light rain
3,3,Faanui,PF,2021-07-24 18:31:46,-16.4833,-151.7500,77.79,71,3,13.85,clear sky
4,4,Jamestown,US,2021-07-24 18:34:08,42.0970,-79.2353,80.19,61,20,7.00,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 65
What is your desired maximum temperature for your trip? 88

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,2021-07-24 18:34:03,-0.7393,-90.3518,82.36,81,15,8.99,few clouds
2,2,Kapaa,US,2021-07-24 18:31:00,22.0752,-159.3190,80.58,84,90,4.00,light rain
3,3,Faanui,PF,2021-07-24 18:31:46,-16.4833,-151.7500,77.79,71,3,13.85,clear sky
4,4,Jamestown,US,2021-07-24 18:34:08,42.0970,-79.2353,80.19,61,20,7.00,few clouds
10,10,Butaritari,KI,2021-07-24 18:31:02,3.0707,172.7902,83.79,72,100,18.59,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
651,651,Manadhoo,MV,2021-07-24 19:08:35,5.7667,73.3833,81.82,76,92,6.69,overcast clouds
656,656,Dubrovnik,HR,2021-07-24 19:04:54,42.6481,18.0922,76.64,69,0,5.75,clear sky
657,657,Najran,SA,2021-07-24 19:08:41,17.4924,44.1277,87.01,36,63,9.78,broken clouds
659,659,Salinopolis,BR,2021-07-24 19:08:43,-0.6136,-47.3561,82.67,69,99,11.16,overcast clouds
660,660,Maitum,PH,2021-07-24 19:08:44,6.0392,124.4986,77.95,84,98,4.38,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,2021-07-24 18:34:03,-0.7393,-90.3518,82.36,81,15,8.99,few clouds
2,2,Kapaa,US,2021-07-24 18:31:00,22.0752,-159.3190,80.58,84,90,4.00,light rain
3,3,Faanui,PF,2021-07-24 18:31:46,-16.4833,-151.7500,77.79,71,3,13.85,clear sky
4,4,Jamestown,US,2021-07-24 18:34:08,42.0970,-79.2353,80.19,61,20,7.00,few clouds
10,10,Butaritari,KI,2021-07-24 18:31:02,3.0707,172.7902,83.79,72,100,18.59,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
651,651,Manadhoo,MV,2021-07-24 19:08:35,5.7667,73.3833,81.82,76,92,6.69,overcast clouds
656,656,Dubrovnik,HR,2021-07-24 19:04:54,42.6481,18.0922,76.64,69,0,5.75,clear sky
657,657,Najran,SA,2021-07-24 19:08:41,17.4924,44.1277,87.01,36,63,9.78,broken clouds
659,659,Salinopolis,BR,2021-07-24 19:08:43,-0.6136,-47.3561,82.67,69,99,11.16,overcast clouds
660,660,Maitum,PH,2021-07-24 19:08:44,6.0392,124.4986,77.95,84,98,4.38,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.36,few clouds,-0.7393,-90.3518,
2,Kapaa,US,80.58,light rain,22.0752,-159.3190,
3,Faanui,PF,77.79,clear sky,-16.4833,-151.7500,
4,Jamestown,US,80.19,few clouds,42.0970,-79.2353,
10,Butaritari,KI,83.79,overcast clouds,3.0707,172.7902,
13,Qarayeri,AZ,83.28,broken clouds,40.7886,46.3066,
17,Gravelbourg,CA,79.07,clear sky,49.8834,-106.5512,
18,Sao Joao Da Barra,BR,77.09,clear sky,-21.6403,-41.0511,
22,Koumac,NC,67.93,clear sky,-20.5667,164.2833,
24,Hilo,US,86.29,light rain,19.7297,-155.0900,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.36,few clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Faanui,PF,77.79,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,Jamestown,US,80.19,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,Butaritari,KI,83.79,overcast clouds,3.0707,172.7902,Isles Sunset Lodge

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))